<div class="login-body">
    <div class="login-panel ui-fluid">
        <div class="login-panel-header">
            <img src="./assets/layout/images/logo-slim.png">
        </div>
        <div class="login-panel-content">
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <div class="ui-g">
                    <div class="ui-g-12">
                        <h1>Sign-in to Financial Governance</h1>
                    </div>
                    <div class="ui-g-12">
                        <span class="md-inputfield">
                            <input type="text" formControlName="usuario" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.usuario.errors }"  pInputText>
                            <label>Username</label>
                            <div *ngIf="submitted && f.usuario.errors" class="invalid-feedback">
                                <div *ngIf="f.usuario.errors.required">Username is required</div>
                            </div>
                        </span>
                    </div>
                    <div class="ui-g-12">
                        <span class="md-inputfield">
                            <input type="password" formControlName="senha" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.senha.errors }" pInputText>
                            <label>Password</label>
                            <div *ngIf="submitted && f.senha.errors" class="invalid-feedback">
                                <div *ngIf="f.senha.errors.required">Password is required</div>
                            </div>
                        </span>
                    </div>
                    <div class="ui-g-12">
                        <button pButton label="Sign In" icon="ui-icon-person"></button>
                    </div>
                    <div class="ui-g-12">
                        Don't have an account? <a href="#">Sign Up</a> now.
                    </div>
                    <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
                </div>
            </form>
        </div>
    </div>
</div>
